.logo {
    max-width: 128px;
}

.alternative-logo {
    max-width: 212px;
}

.primary-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem clamp(1rem, 5vw, 2rem);
    background-color: hsl( var(--clr-dark) / 1);
    border-bottom: .15rem solid hsl( var(--clr-white) / .1);
}

.primary-navigation {
    --underline-gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.user,
.shop-cart{
    display: inline-block;
    width: 40px;
    height: 40px;
}

.active-icon > a .user,
.active-icon > a .shop-cart {
    border: 2px solid hsl( var(--clr-white) );
    border-radius: 50%;
    padding: .1rem;
}

.mobile-nav-toggle {
    display: none;
    cursor: pointer;
}

.underline-indicators > *:nth-child(-n+5) {
    cursor: pointer;
    padding: var(--underline-gap, .5rem) 0;
    border: 0;
    background-color: transparent;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0);
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: hsl( var(--clr-white) / .2);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    color: hsl( var(--clr-white) / 1);
    border-color: hsl( var(--clr-white) / 1); 
}

.home-text {
    margin: 2rem 0;
}

.btn{
    font-weight: 600;
    padding: .5rem 1rem;
    border: 0;
    background-color: hsl( var(--clr-gold) / .85);
    color: hsl( var(--clr-dark) / 1);
    transition: 250ms ease-in;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: hsl( var(--clr-brown) / .85);
    color: hsl( var(--clr-white) / 1);
}

.container--section {
    background-color: hsl( var(--clr-white) / .1);
}

.about-us > *:not(:first-child),
.commitment > *:not(:first-child),
.value > *:not(:first-child),
.crew > *:not(:first-child) {
    background-color: hsl( var(--clr-white) / .1);
}

.flex-container > h2 {
    margin: 3rem 0;
}

.container-content {
    padding: 1rem;
    place-content: center;
}

.container-content > img {
    width: 100%;
}

.container-text {
    padding: 1rem 0;
}

.container-text > * {
    line-height: 1.4;
}

.container-text > *:not(:first-child) {
    margin-top: .5rem;
}

.grid-container--about > h2 {
    margin: 3rem 0;
}

.submenu {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    margin: .5rem 0;
}

.submenu > *{
    color: hsl( var(--clr-white) / 1);
    width: min-content;
}

.submenu-underline-indicators > *{
    position: relative;
    cursor: pointer;
    padding: var(--underline-gap, .5rem) 0;
    border: 0;
    background-color: transparent;
    overflow: hidden;
}

.submenu-underline-indicators > *::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: .2rem;
    background-color: hsl( var(--clr-white) / .2);
    transition: width 400ms ease, left 400ms ease;
}

.submenu-underline-indicators > *:hover::before,
.submenu-underline-indicators > *:focus::before {
    width: 100%;
    left: 0;
    right: auto;
}

.submenu-underline-indicators > .submenu-active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: hsl( var(--clr-gold) / .35);
}

.product {
    flex-direction: column;
    text-align: center;
    margin-top: 3.5rem;
    padding: 1rem .5rem;
    background-color: hsl( var(--clr-white) / .1);
}

.box-presentation-recipe,
.box-recipe {
    max-width: 45rem;
    margin: 0 auto;
    background-color: hsl( var(--clr-white) / .1);
}

.box-presentation-recipe .recipe-image {
    width: 100%;
    padding: .5rem;
}

.box-presentation-recipe .name-recipe {
    font-weight: 200;
}

.box-presentation-recipe .author-recipe {
    margin: .5rem 0;
}

.box-presentation-recipe .btn-recipe {
    --gap: .2rem;
    place-content: center;
    border: 0;
    padding: .5rem 0;
    font-weight: 300;
    background-color: transparent;
    color: hsl( var(--clr-white) / 1);
    cursor: pointer;
    transition: 250ms ease-in-out;
}

.box-presentation-recipe .btn-recipe:hover,
.box-presentation-recipe .btn-recipe:focus {
    background-color: hsl( var(--clr-dark) / .2 );
}

.box-presentation-recipe .btn-recipe .arrow-image {
    width: 1.25rem;
    transition: 500ms ease;
}

.open {
    transform: rotate(180deg);
}

.box-recipe {
    text-align: justify;
    padding: .5rem;
}

.box-recipe h3 {
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: .5rem;
}

.box-recipe ul {
    font-weight: 100;
    list-style: square inside;
    margin-bottom: 1rem;
}

.box-recipe ul li:not(:last-child) {
    margin-bottom: .5rem;
}

.box-recipe p {
    margin-top: 1rem;
}

.send-recipe-text {
    flex-direction: column;
    align-items: center;
    justify-items: left;
}

.contact-form {
    width: 100%;
    padding: .8rem;
    border: .1rem solid hsl( var(--clr-gold) / .5);
    background-color: hsl( var(--clr-white) / .1);
}

.contact-form > *:not(:first-child){
    margin-top: .3rem;
}

.contact-form > *:last-child {
    margin-top: 1.5rem;
}

.contact-form > input,
.contact-form > select,
.contact-form > textarea {
    padding: .15rem .35rem;
}

.contact-form > input[type="file"] {
    padding: 0;
    cursor: pointer;
}

.contact-form > textarea {
    resize: none;
}

.contact-form > button {
    max-width: 10rem;
    margin: 0 auto;
}

.whatsapp-link {
    padding: .5rem 1.5rem;
    border-radius: 5rem;
    border: .5rem solid hsl( var(--clr-grey) / 1);
    background-color: hsl( var(--clr-darkgreen) / 1);
    color: hsl( var(--clr-white) / 1);
    transition: 250ms ease-in-out;
}

.whatsapp-link:hover,
.whatsapp-link:focus {
    background-color: hsl( var(--clr-green) / 1);
}

#recipe-form .radio-container {
    --gap: 0;
    width: 10rem;
    align-items: center;
    justify-content: start;
}

#additional-ingredients-container-text > textarea {
    padding: .15rem .35rem;
}

#recipe-form > p {
    margin-top: 3rem;
}

.new-user-container > p,
.login-container > p {
    margin-bottom: 1rem;
}

.footer {
    width: 100%;
    min-height: 8rem;
    flex-direction: column;
    justify-content: center;
    border-top: .15rem solid hsl( var(--clr-brown) / .35);
}

@media(max-width: 50rem){
    @supports (backdrop-filter: blur(1rem)){
        .primary-navigation{
            background: hsl( var(--clr-white) / .05 );
            backdrop-filter: blur(1.5rem);
        }
    }

    .primary-navigation{
        --underline-gap: .5rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        list-style: none;
        padding: min(25rem, 17vh) 2rem 0 0;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }

    .primary-navigation[data-visible="true"]{
        transform: translateX(0);
    }

    .primary-navigation li{
        text-align: end;
        min-width: 100%;
    }

    .underline-indicators > *:nth-child(-n+5) {
        border-bottom: 0;
        border-left: .2rem solid hsl( var(--clr-white) / 0);
    }

    .underline-indicators > *:hover,
    .underline-indicators > *:focus {
        border-color: hsl( var(--clr-white) / .2);
    }

    .underline-indicators > .active,
    .underline-indicators > [aria-selected="true"] {
        color: hsl( var(--clr-white) / 1);
        border-color: hsl( var(--clr-white) / 1); 
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2rem;
        background: transparent;
        background-image: url(../images/botao-hamburguer.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 2.6rem;
        aspect-ratio: 1;
        border: 0;
    }

    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url(../images/botao-fechar.png);
    }

    .mobile-nav-toggle:focus-visible {
        outline: 5px solid hsl( var(--clr-white) );
        outline-offset: 5px;
    }
}

@media(min-width: 35rem) {
    .logo{
        max-width: 156px;
    }

    .submenu {
        gap: 5rem;
        margin: 1rem auto;
    }

    .box-recipe {
        padding: 1rem 1.5rem;
    }

    #recipe-form .radio-container {
        width: 12rem;
    }

    .contact-form > button {
        max-width: 12.5rem;
    }

    .footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media(min-width: 45rem) {
    
}